.products-main-div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 85vh;

  background-color: var(--Gray);
}

.products-box {
  display: flex;
  flex-direction: row;

  width: 85%;
  height: 75vh;

  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.products-left-col {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 49%;
  height: 75vh;
  padding: 40px 0 40px 0;
}

.products-left-header {
  width: 80%;
}

.products-left-header-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 10px;
}

.products-left-header-first-line h2 {
  color: var(--Purple-Primary);
}

.products-left-header-first-line button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.products-line {
  height: 2px;

  background-color: var(--Purple-Primary);
}

.products-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;

  padding: 10px 0 10px 0;
}

.products-search-bar input {
  display: flex;
  align-self: center;
  justify-self: center;

  margin: 0;

  width: 90%;
  height: 100%;

  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;

  background-color: var(--Gray);
  color: var(--Purple-Primary);
}

.products-search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;

  width: 10%;
  height: 100%;

  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;

  background-color: var(--Purple-Tertiary);
}

.products-none {
  display: none;
}

.products {
  display: flex;
  flex-direction: column;

  align-self: center;
  width: 80%;
  height: 50vh;

  overflow-y: scroll;
}

.products button {
  background-color: none;
  cursor: pointer;

  border-color: var(--Gray);

  border: 0 0 2px 0;
  padding: 10px 0 10px 0;
}

.products-middle-line {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  width: 2px;
  height: 90%;

  background-color: var(--Gray);
}

.products-right-col {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  height: 75vh;
  padding: 40px 0 40px 0;
}