.promotion {
    font-family: 'Courier New', Courier, monospace;
}

.promotionList {
    background-color: gainsboro
}

.tableWrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}