* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --Purple-Black: #200726;
  --Purple-Contrast: #350c4c;
  --Purple-Medium: #4a1259;
  --Purple-Light: #622773;
  --Purple-Primary: #66507f;
  --Purple-Secondary: #cda1ff;
  --Purple-Tertiary: #a481cc;
  --Red-Alert:  #bf0413;
  --Gray: #e6deef;
  --White: #ffffff;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
