* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --Purple-Black: #200726;
  --Purple-Contrast: #350c4c;
  --Purple-Medium: #4a1259;
  --Purple-Light: #622773;
  --Purple-Primary: #66507f;
  --Purple-Secondary: #cda1ff;
  --Purple-Tertiary: #a481cc;
  --Red-Alert:  #bf0413;
  --Gray: #e6deef;
  --White: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
