.header-main-div {
  display: flex;
  flex-direction: row;

  height: 10vh;

  background-color: #200726;
}

.header-aux {
  width: 34%;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.header-logo button {
  background-color: var(--Purple-Black);
  border: none;
  cursor: pointer;
}

.header-user {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;

  width: 33%;
  padding-right: 5%;
}

.header-user p { 
  margin-right: 15px;
  color: var(--Gray);
}
